<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
			  <span class="sr-only">Toggle navigation</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand hidden-sm" href="#">rails5 Simple App</a>
		</div>
		<div class="navbar-collapse collapse" role="navigation">
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Home", home_path %></li>
				<li><%= link_to "about", about_path %></li>
				<li><%= link_to "Help", help_path %></li>
				<% if logged_in? %>
          <li><%= link_to "Users", '#' %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
			</ul>
			<ul class="nav navbar-nav navbar-right hidden-sm">
				<li><a href="/events/">event路由</a></li>
			</ul>
		</div>
	</div>
</div>

<!-- <div class="center jumbotron">
  <h1>bootstrap jumbotron component</h1>
  <h2>
    这是首页展示组件
    <a href="http://ruby-china.org/">rails5</a>
    sample app.
  </h2>
  <%= link_to "主页链接...!", '#', class: "btn btn-lg btn-primary" %>
</div>
<p class="version">
	<strong>Rails version:</strong> <%= Rails.version %><br />
  <strong>Ruby version:</strong> <%= RUBY_VERSION %> (<%= RUBY_PLATFORM %>)
</p>
<%= link_to image_tag("rails.png", alt: "Rails logo"),'http://rubyonrails.org/' %> -->